<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wonders.ss.global.dao.GlobalAppDao">

    <!-- 采用别名使用类成员变量，可根据需求，确定是否启用 -->
    <resultMap type="com.wonders.ss.global.entity.GlobalApp" id="globalAppMap">
        <id property="id" column="F5007"/>
        <result property="ftpId" column="FTP_ID"/>
        <result property="domainId" column="DOMAIN_ID"/>
        <result property="organId" column="F1642"/>
        <result property="xzqhId" column="F1316"/>
        <result property="sertypeId" column="F1507"/>
        <result property="name" column="F5006"/>
        <result property="path" column="F1186"/>
        <result property="appType" column="APP_TYPE"/>
        <result property="isSite" column="IS_SITE"/>
        <result property="isDisabled" column="F1622"/>
        <result property="isMobileApp" column="IS_F1375_APP"/>
        <result property="status" column="F5013"/>
        <result property="priority" column="F5014"/>
        <result property="createTime" column="F5017"/>
        <result property="lastTime" column="F5010"/>
        <result property="delFlag" column="F5008"/>
        <result property="deleteTime" column="F1582"/>
        <result property="description" column="F5015"/>
        <result property="spare1" column="SPARE1"/>
        <result property="spare2" column="SPARE2"/>
    </resultMap>

    <!-- find by id，通过主键获取对象 -->
    <select id="findById" resultMap="globalAppMap">
        SELECT
            F5007, FTP_ID, DOMAIN_ID, F1642, F1316, F1507, F5006, F1186, APP_TYPE, IS_SITE, F1622, IS_F1375_APP, F5013, F5014, F5017, F5010, F5008, F1582, F5015, SPARE1, SPARE2
        FROM IOC_SYSTEM_1_3_1
        WHERE F5007 = #{value}
    </select>

    <!-- get list，通过输入的条件，获取返回的list列表对象，采用相应的分页规则进行分页处理 -->
    <select id="getList" resultMap="globalAppMap">
        SELECT
        B.F5007, B.FTP_ID, B.DOMAIN_ID, B.F1642, B.F1316, B.F1507, B.F5006, B.F1186, B.APP_TYPE, B.IS_SITE, B.F1622, B.IS_F1375_APP, B.F5013, B.F5014, B.F5017, B.F5010, B.F5008, B.F1582, B.F5015, B.SPARE1, B.SPARE2
        FROM IOC_SYSTEM_1_3_1 B
        WHERE 1=1
        <include refid="commonList"></include>
        <include refid="getListOrderBy"></include>
    </select>


    <!-- 通用排序SQL，如果传入参数按照参数排序，如果未传入参数，按照主键排序 -->
    <sql id="getListOrderBy">
        <choose>
            <when test='orderBy != null'>
                ORDER BY F5007 ASC
            </when>
            <otherwise>
                ORDER BY F5007 DESC
            </otherwise>
        </choose>
    </sql>

    <!-- sql commonList 通过输入的条件，获取返回的list列表对象
    -->
    <sql id="commonList">
        <!--  只允许默认的本表的字段查询，查询条件可通过Param定义，默认全部字段，后续根据Param内的定义，可删除不需要的查询字段 -->
        <if test="domainId != null and domainId != ''">
            and B.DOMAIN_ID = #{domainId}
        </if>
        <if test="ftpId != null and ftpId != ''">
            and B.FTP_ID = #{ftpId}
        </if>
        <if test="organId != null and organId != ''">
            and B.F1642 = #{organId}
        </if>
        <if test="xzqhId != null and xzqhId != ''">
            and B.F1316 = #{xzqhId}
        </if>
        <if test="sertypeId != null and sertypeId != ''">
            and B.F1507 = #{sertypeId}
        </if>
        <if test="name != null and name != ''">
            and B.F5006 like concat('%',#{name},'%')
        </if>
        <if test="path != null and path != ''">
            and B.F1186 = #{path}
        </if>
        <if test="appType != null and appType != ''">
            and B.APP_TYPE = #{appType}
        </if>
        <if test="isSite != null and isSite != ''">
            and B.IS_SITE = #{isSite}
        </if>
        <if test="isDisabled != null and isDisabled != ''">
            and B.F1622 = #{isDisabled}
        </if>
        <if test="isMobileApp != null and isMobileApp != ''">
            and B.IS_F1375_APP = #{isMobileApp}
        </if>
        <if test="status != null and status != ''">
            and B.F5013 = #{status}
        </if>
        <choose>
            <when test="delFlag != null">
                AND B.F5008 = #{delFlag}
            </when>
            <otherwise>
                AND B.F5008 = 0
            </otherwise>
        </choose>
        <if test="description != null and description != ''">
            and B.F5015 = #{description}
        </if>
        <if test='existKey != null and existKey !=""'>
            AND (B.F5007 = #{existKey}
            or B.F5006 = #{existKey}
            or B.F1186 = #{existKey})
        </if>
        <if test='mode != null and mode == 1'>
            AND B.F5007 in ('COC-SS', 'COC-SE', 'COC-SM') </if>
        <if test='mode != null and mode == 2'>
            AND B.F5007 in ('COC-SA') </if>


        <!-- 各个数据库差异化的查询条件处理，如时间字段 -->
        <choose>
            <when test='_databaseId == "mysql"'>
                <if test='startTime != null and  startTime != "" and endTime != null and  endTime != "" '>
                    <![CDATA[ and DATE_FORMAT(B.F5017,'%Y-%m-%d') >= DATE_FORMAT(#{startTime},'%Y-%m-%d')
                and DATE_FORMAT(B.F5017,'%Y-%m-%d') <= DATE_FORMAT(#{endTime},'%Y-%m-%d') ]]>
                </if>
            </when>
            <when test='_databaseId == "dm8"'>
                <if test='startTime != null and  startTime != "" and endTime != null and  endTime != "" '>
                    <![CDATA[ and DATE_FORMAT(B.F5017,'%Y-%m-%d') >= DATE_FORMAT(#{startTime},'%Y-%m-%d')
                and DATE_FORMAT(B.F5017,'%Y-%m-%d') <= DATE_FORMAT(#{endTime},'%Y-%m-%d') ]]>
                </if>
            </when>
            <otherwise>
                <if test='startTime != null and  startTime != "" and endTime != null and  endTime != "" '>
                    <![CDATA[ and to_date(B.F5017,'YYYY-MM-DD') >= to_date(#{startTime},'YYYY-MM-DD')
                and to_date(B.F5017,'YYYY-MM-DD') <= to_date(#{endTime},'YYYY-MM-DD') ]]>
                </if>
            </otherwise>
        </choose>
    </sql>

    <!-- save object，保存对象信息 -->
    <insert id="save" parameterType="com.wonders.ss.global.entity.GlobalApp">
        INSERT INTO IOC_SYSTEM_1_3_1
        (
            F5007, FTP_ID, DOMAIN_ID, F1642, F1316, F1507, F5006, F1186, APP_TYPE, IS_SITE, F1622, IS_F1375_APP, F5013, F5014, F5017, F5010, F5008, F1582, F5015, SPARE1, SPARE2
        )
        VALUES
            (
                #{id}, #{ftpId}, #{domainId}, #{organId}, #{xzqhId}, #{sertypeId}, #{name}, #{path}, #{appType}, #{isSite}, #{isDisabled}, #{isMobileApp}, #{status}, #{priority}, #{createTime}, #{lastTime}, #{delFlag}, #{deleteTime}, #{description}, #{spare1}, #{spare2}
            )
    </insert>

    <!-- update object，更新对象信息 -->
    <update id="update" parameterType="com.wonders.ss.global.entity.GlobalApp">
        UPDATE IOC_SYSTEM_1_3_1
        <set>
            <if test="ftpId != null">FTP_ID = #{ftpId}, </if>
            <if test="domainId != null">DOMAIN_ID = #{domainId}, </if>
            <if test="organId != null">F1642 = #{organId}, </if>
            <if test="xzqhId != null">F1316 = #{xzqhId}, </if>
            <if test="sertypeId != null">F1507 = #{sertypeId}, </if>
            <if test="name != null">F5006 = #{name}, </if>
            <if test="path != null">F1186 = #{path}, </if>
            <if test="appType != null">APP_TYPE = #{appType}, </if>
            <if test="isSite != null">IS_SITE = #{isSite}, </if>
            <if test="isDisabled != null">F1622 = #{isDisabled}, </if>
            <if test="isMobileApp != null">IS_F1375_APP = #{isMobileApp}, </if>
            <if test="status != null">F5013 = #{status}, </if>
            <if test="priority != null">F5014 = #{priority}, </if>
            <if test="createTime != null">F5017 = #{createTime}, </if>
            <if test="lastTime != null">F5010 = #{lastTime}, </if>
            <if test="delFlag != null">F5008 = #{delFlag}, </if>
            <if test="deleteTime != null">F1582 = #{deleteTime}, </if>
            <if test="description != null">F5015 = #{description}, </if>
            <if test="spare1 != null">SPARE1 = #{spare1}, </if>
            <if test="spare2 != null">SPARE2 = #{spare2}</if>
        </set>
        WHERE F5007 = #{id}
    </update>

    <!-- delete by id，通过主键删除对象 -->
    <update id="deleteById">
        <choose>
            <when test='_databaseId == "mysql"'>
                update IOC_SYSTEM_1_3_1 set del_flag = 1, F1582 = sysdate(), F5010 = sysdate() WHERE F5007 = #{value}
            </when>
            <when test='_databaseId == "dm8"'>
                update IOC_SYSTEM_1_3_1 set del_flag = 1, F1582 = sysdate(), F5010 = sysdate() WHERE F5007 = #{value}
            </when>
            <otherwise>
                update IOC_SYSTEM_1_3_1 set del_flag = 1, F1582 = sysdate, F5010 = sysdate() WHERE F5007 = #{value}
            </otherwise>
        </choose>

    </update>

    <!-- delete by ids，通过主键数组批量删除对象 -->
    <update id="deleteByIds">
        <choose>
            <when test='_databaseId == "mysql"'>
                update IOC_SYSTEM_1_3_1 set del_flag = 1, F1582 = sysdate(),F5010 = sysdate()
                WHERE F5007 IN
                <foreach item="id" collection="array" open="(" separator="," close=")">
                    #{id}
                </foreach>
            </when>
            <otherwise>
                update IOC_SYSTEM_1_3_1 set del_flag = 1, F1582 = sysdate,F5010 = sysdate
                WHERE F5007 IN
                <foreach item="id" collection="array" open="(" separator="," close=")">
                    #{id}
                </foreach>
            </otherwise>
        </choose>
    </update>

    <!-- query total，通过输入的条件，查询返回结果的数量，返回值为int -->
    <select id="queryTotal" resultType="int">
        SELECT COUNT(1)
        FROM IOC_SYSTEM_1_3_1 B
        WHERE 1 = 1
        <include refid="commonList"></include>
    </select>

    <!-- 以下为新增特定的操作 -->
    <!-- get list with dto result，通过输入的条件，返回查询结果信息，返回值为dto对象 -->
    <resultMap type="com.wonders.ss.global.dto.GlobalAppDto" extends="globalAppMap" id="globalAppDtoMap">
        <result property="xzqhName" column="xzqhName"/>
    </resultMap>

    <!-- get page with param input dto result，通过输入的条件，返回查询结果信息，返回值为dto对象 -->
    <select id="getPageDto" resultMap="globalAppDtoMap">
        SELECT
        B.F5007, B.FTP_ID, B.DOMAIN_ID, B.F1642, B.F1316, B.F1507, B.F5006, B.F1186, B.APP_TYPE, B.IS_SITE, B.F1622, B.IS_F1375_APP, B.F5013, B.F5014, B.F5017, B.F5010, B.F5008, B.F1582, B.F5015, B.SPARE1, B.SPARE2
        , GX.F5006 as xzqhName
        FROM IOC_SYSTEM_1_3_1 B
        LEFT JOIN IOC_SYSTEM_1_2_3 GX on B.F1316 = GX.F1316
        WHERE B.F5008 = 0
        <include refid="commonList"></include>
        ORDER BY B.F5014 ASC

    </select>

    <!-- get dto with input id，通过ID，查询dto对象 -->
    <select id="getDtoById" resultMap="globalAppDtoMap">
        SELECT
            B.F5007, B.FTP_ID, B.DOMAIN_ID, B.F1642, B.F1316, B.F1507, B.F5006, B.F1186, B.APP_TYPE, B.IS_SITE, B.F1622, B.IS_F1375_APP, B.F5013, B.F5014, B.F5017, B.F5010, B.F5008, B.F1582, B.F5015, B.SPARE1, B.SPARE2
             , GX.F5006 as xzqhName
        FROM IOC_SYSTEM_1_3_1 B
                 LEFT JOIN IOC_SYSTEM_1_2_3 GX on B.F1316 = GX.F1316
        WHERE F5007 = #{value}
    </select>

    <!-- 获取行政区划code -->
    <select id="getAreaCodeByParams" parameterType="map" resultType="String">
        <if test="appId != null">
            SELECT t2.code
            FROM IOC_SYSTEM_1_3_1 t, IOC_SYSTEM_1_2_3 t2
            WHERE t.xzqh_id = t2.xzqh_id
            and t.del_flag = 0
            AND t.app_id = #{appId}
        </if>
    </select>

    <!-- 获取包含外键名称的Dto对象 -->
    <resultMap id="globalAppInfoDtoMap" extends="globalAppDtoMap" type="com.wonders.ss.global.dto.GlobalAppInfoDto">
        <result property="ftpName" column="ftpName"/>
        <result property="sertypeName" column="sertypeName"/>
        <result property="domainName" column="domainName"/>
        <result property="organName" column="organName"/>
    </resultMap>

    <select id="getGlobalAppInfoDto" resultMap="globalAppInfoDtoMap">
        SELECT B.F5007,B. FTP_ID,B. DOMAIN_ID,B. F1642,B. F1316,B. F1507,B. F5006,B. F1186,B. APP_TYPE,B. IS_SITE,B. F1622,B. IS_F1375_APP,B. F5013,B. F5014,B. F5015
             , GF.F5006 as ftpName , GS.F5006 as sertypeName , GX.F5006 as xzqhName, GD.F5006 as domainName , GO.F5006 as organName
        FROM IOC_SYSTEM_1_3_1 B
                 left join IOC_SYSTEM_1_3_3 GF on B.FTP_ID = GF.FTP_ID
                 left join IOC_SYSTEM_1_1_6 GS on B.F1507 = GS.F1507
                 left join IOC_SYSTEM_1_2_3 GX  on B.F1316 = GX.F1316
                 left join IOC_SYSTEM_1_3_2 GD  on B.DOMAIN_ID = GD.DOMAIN_ID
                 left join IOC_SYSTEM_1_4_1 GO  on B.F1642 = GO.F1642
        WHERE B.F5007 = #{id}
    </select>

    <resultMap type="com.wonders.ss.global.dto.BaseDictionary" id="baseDictionaryGaMap">
        <result property="id" column="CDD_ID"/>
        <result property="name" column="F5006"/>
        <result property="cddValue" column="CDD_VALUE"/>
        <result property="searchCode" column="F1596"/>
    </resultMap>

    <select id="getForSelect" resultMap="baseDictionaryGaMap">
        SELECT F5006, F5007 as CDD_VALUE
        FROM IOC_SYSTEM_1_3_1 B
        where B.F5008 = 0
        ORDER BY F5014 ASC
    </select>

</mapper>
